<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="siscom_recuperaCarrinho_observer" instance="Siscom\RecuperaCarrinho\Observer\CheckLoginObserver" />
    </event>
</config>
