<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="siscom" translate="label" sortOrder="0">
            <label>Siscom</label>
        </tab>
        <section id="recupera_carrinho" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Recuperar Carrinho</label>
            <tab>siscom</tab>
            <resource>Siscom_RecuperaCarrinho::config</resource>
            <group id="module_settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="09">
                <label>Configurações do Módulo</label>
                <field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Nome do Remetente</label>
                    <validate>required-entry</validate>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="sender_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>E-mail do Remetente</label>
                    <validate>required-entry validate-email</validate>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="subject" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Assunto do E-mail</label>
                    <validate>required-entry</validate>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="email_template" type="select" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Template de Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends><field id="enabled">1</field></depends>
                </field>
                <field id="days" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" default="1">
                    <label>Dias</label>
                    <depends><field id="enabled">1</field></depends>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="run" showInWebsite="1" showInStore="1" showInDefault="1" sortOrder="80" translate="label" type="text">
                    <label>Executar Cron</label>
                    <frontend_model>Siscom\RecuperaCarrinho\Block\Adminhtml\System\Config\Form\Button</frontend_model>
                    <depends><field id="enabled">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
