<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="recover_abandoned_cart" xsi:type="object">Siscom\RecuperaCarrinho\Console\Command\RecoverAbandonedCartCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Siscom\RecuperaCarrinho\Console\Command\RecoverAbandonedCartCommand">
        <arguments>
            <argument name="recovery" xsi:type="object">Siscom\RecuperaCarrinho\Model\RecoverAbandonedCart</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="siscom_recuperacarrinho_save_quote" type="Siscom\RecuperaCarrinho\Plugin\Quote\QuotePlugin" />
    </type>
</config>
